<!DOCTYPE html>
<html>
  <head>
    <title>TwitOff</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>
    </nav>
    <ul>
      <li>Choose from:</li>
    </ul>
    <ul>
      <li><a href="/view_test_users">View test users</a></li>
    </ul>
    <ul>
      <li><a href="/add_test_users">Add test users</a></li>
    </ul>
    <ul>
      <li><a href="/add_test_tweets">Add test tweets</a></li>
    </ul>
    <ul>
      <li><a href="/view_test_tweets">View test tweets</a></li>
    </ul>
  </body>
</html>